@import 'colors';

$incomeCardColor: $green;

.income-card {
  background-color: $incomeCardColor;
  color: white;
  padding: 1rem 2rem;
  margin: 10px 10px 10px 0;
  text-align: center;
  display: inline-block;
  &.income-card-active {
    background-color: lighten($incomeCardColor, 10);
  }
  p {
    margin: 0rem;
  }
}
